<section class="accessories">
    <div class="container">
        <div class="row accessories-title">
            <div class="col-md-6">
                <h3>HUGE RANGE OF ACCESSORIES </h3>
                <h4>@ GREAT PRICES. ALWAYS!</h4>
            </div>
            <div class="col-md-6">
                <a href="#" class="cta-btn">
                    Shop Snowboard
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="images/goggles.png" alt="image">
                    <span>Goggles</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="images/helmet.png" alt="image">
                    <span>Helmet</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="images/travel-bags.png" alt="image">
                    <span>Travel Bags</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="images/base-layers.png" alt="image">
                    <span>Base layers</span>
                </div>
            </div>
        </div>
    </div>
</section>