<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-3">
                <div class="brand-text">
                    <h2 class="mb-0">BEST BRANDS</h2>
                    <h6 class="mb-4">@ GREAT PRICES ALWAYS</h6>
                    <div class="mb-4">
                        <a href="#" class="cta-btn red">
                            Shop Snowboard
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-wrap">
                    <img src="images/burton.png" alt="image">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-wrap">
                    <img src="images/capita.png" alt="image">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-wrap">
                    <img src="images/jones.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>